@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    text: white;
  }
}

@layer base {
  :root {
    --sidebar: #f8f8f8;
    --sidebar-foreground: #111;
    --sidebar-primary: #1e293b;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #e5e5e5;
    --sidebar-accent-foreground: #111;
    --sidebar-border: #ccc;
    --sidebar-ring: #999;
  }

  .dark {
    --sidebar: #18181b; /* zinc-900 */
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #27272a; /* zinc-800 */
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #3f3f46; /* zinc-700 */
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: rgba(255, 255, 255, 0.1);
    --sidebar-ring: rgba(255, 255, 255, 0.3);
  }
}
